# intellij
.idea

# maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

# eclipse
**/.classpath
**/.project
**/.settings
**/bin

# gradle
**/build/
**/.gradle/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
